body::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #333333;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;    /* color of the scroll thumb */
    border-radius: 40px;       /* roundness of the scroll thumb */
}